# Python virtual environment
backend/venv/

# Python cache files
__pycache__/
*.pyc

# Uploaded files
backend/uploads/

# Environment variables
.env

# Node / React later
node_modules/

# OS files
.DS_Store